<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    {% include "partials/metadata" %}
  </head>


  <body>
    {% include 'partials/header.liquid' %}
    <a class="skip-link banner" href="#main-content">Skip to content</a>
    <main id="main-content">{{ content }}</main>
    {% include 'partials/footer.liquid' %}
    <script
      async
      defer
      src="https://scripts.withcabin.com/hello.js"></script>
  </body>
</html>