---
layout: "layouts/base.liquid"
---
<h1>Green Web Tracker</h1>
<p>Tracking the progress of the internet towards 100% fossil free hosting. Updated weekly.</p>

<section id="indexes">
  <h2>Indexes</h2>
  <ul>
    {% for index in indexes %}
      <li>
        <a href="/index/{{ index[0] | slug }}">{{ index[1].name }}</a>
        <p>{{ index[1].description }}</p>

      </li>
    {% endfor %}
  </ul>
</section>