
<header>
    <div class="wrapper">
      <div class="gwf-gt-logo"><img src="/gwf_logo.svg" alt="" /><span class="beta">Green Web Tracker</span></div>
      <nav>
        <ul>
          <li class="public" >
            <a href="/">Public Indexes</a>
          </li>
          <li class="private">
            <a href="/my-index">Private Index</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
        </div>
    </div>
</header>
