
<header>
    <div class="gwf-gt-logo"><img src="/gwf_logo.svg" alt="" /><span>Green Web Tracker</span></div>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="#">My Index</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
