<aside class="legend">
  <details open>
    <summary>Key</summary>
    <small>
      <a href="/faq">What do these mean?</a>
    </small>
    <ul>
      <li class="data-true">
        <span>◯</span>
        Green hosted</li>
      <li class="data-false">
        <span>〰</span>
        No evidence found</li>
      <li class="data-unknown">
        <span>⬚</span>
        Not checked</li>
    </ul>
  </details>
</aside>