<aside class="legend">
  <p>Legend:</p>
  <ul>
    <li>◯ = Green hosted</li>
    <li>〰 = No evidence found</li>
    <li>⬚ = Not checked</li>
  </ul>

  <p>
    <a href="/faq">What do these mean?</a>
  </p>
</aside>