{% unless title %}
  {% assign pageTitle = "Green Web Tracker" %}
{% else %}
{% capture pageTitle %}
  {{title}} | Green Web Tracker
{% endcapture%}
{% endunless %}

{% unless description %}
  {% assign description = summary %}
{% endunless %}

<title>{{ pageTitle }}</title>
<meta name="description" content="{{ description }}" />
<link rel="canonical" href="https://tracker.greenweb.org/{{ page.url }}" />
{% comment %} <meta name="theme-color" content="#1c7ed6"> {% endcomment %}
